@charset "UTF-8";

/*default*/
/*reset*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{
margin: 0; padding: 0;
}


html{
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6{
    font-size: 100%;
    font-weight: normal;
}

ol, ul{
    list-style:none;
}

fieldset, img{
     border:0;
}

table{
    border-collapse: collapse;
     border-spacing:0;
}

caption, th{
    text-align: left;
}

address, caption, cite, code, dfn, em, strong, th, var{
    font-style: normal;
    font-weight: normal;
}


/*text*/
 

body {
font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
text-shadow: 1px 1px 0px #fff;
font-size:14px;
*font:x-small;
color:#666;
line-height:1.6;
}

input, textarea {
font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}

/* for IE6 */
* html body {
font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}
* html input, * html textarea {
font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}

table {
    font-size:inherit;
    font:100%;
}
.text10 { font-size:77%; }
.text11 { font-size:85%; }
.text12 { font-size:93%; }
.text13 { font-size:100%; }
.text14 { font-size:108%; }
.text15 { font-size:116%; }
.text16 { font-size:123.1%; }
.text17 { font-size:131%; }
.text18 { font-size:138.5%; }
.text19 { font-size:146.5%; }
.text20 { font-size:153.9%; }
.text21 { font-size:161.6%; }
.text22 { font-size:167%; }
.text23 { font-size:174%; }
.text24 { font-size:182%; }
.text25 { font-size:189%; }
.text26 { font-size:197%; }

.text24 { font-size:24px;}
.text30 { font-size:30px;}
.text32 { font-size:32px;}


 /*テキストリンク下線設定*/
 
a {
	text-decoration: none;
	}
	
a:hover {
	text-decoration: underline;
	}

/*パンくずリスト設置*/

#tp{
     margin:10px 0;
     text-align:right;
	 }
 
#tp li {
     display:inline;
     line-height:110%;
     list-style-type:none;
	 }

#tp li a{
	padding-right:10px;
	}

/*image半透明*/

a:hover img.hoverimg{
	opacity:0.8;
	filter:alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
	}

input:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
	}
	
	
	
/*layout*/

.content{
	width:1000px;
	margin:0 auto;
	}
	

.pmcontent{
	width:1280px;
	margin:0 auto;
	}
	
	
#contents{
	padding:30px 0;
	background:url(../../images/common/main_bg.png) repeat-x;
   ⁄zoom:1;
}

#contents:after {
   content:'';
   display:block;
   clear:both;
   }




#header{
	background: url(../../images/common/header_bg.png) repeat-x top;
	height:106px;
	padding:10px 0 0 0;
	}

#main{
	width:660px;
	float:left;
	}

#pmmain{
	width:1280px;
	}


#side{
	width:280px;
	float:right;
	}


#footer{
	background:url(../../images/common/footer_bg.png) repeat-x;
	padding:12px 0;
	clear: both;
	⁄zoom:1;
}

#footer:after {
   content:'';
   display:block;
   clear:both;
   }
	


/*header*/




h1{
	float:left;
	font-size:10px;
	width:700px;
	}

#header_logo{
	float:left;
	margin:10px 0 0 0;
	}

#header_submenu{
	float:right;
	width:285px;
	height:25px;
	}

#header_submenu img{
	margin:0 10px;
	}

#header_mainmenu{
	margin:20px 0 0 0;
	float:right;
	}
	

/*main_image*/

h2 {
	clear:both;
width: 100%;
height: 250px;
margin: 0 auto;
text-indent: -9999px;
clear: both;
display: block;
background-color: #F1EEE5;}



/*main*/




h4.memo{
	font-size:18px;
	font-weight:bolder;
    position: relative;
    border-color: #eee;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    background: #fff;
    margin: 0 0 15px -15px;
    padding: 5px 15px;
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
 
h4.memo:after{
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 15px;
    right: 15px;
    width: 70%;
    height: 10px;
    background: rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 15px 10px rgba(0,0,0, .7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, .7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, .7);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}


#page li{
	float:left;
	border:#999 solid 1px;
	padding:10px;
	margin:5px;
	}
	




/*side*/

#product{
	background:url(../../images/common/side_products_bg.png) no-repeat bottom;
	padding:0 0 10px 0;
	margin:0 0 15px 0;
	}

#product li{
	background: url(../../images/common/side_products_triangle.png) no-repeat 10px;
	padding:10px 0 10px 30px;
	border-bottom:#999 dashed 1px;
	font-weight:bolder;
	}

#product li a{
	color:#666;
	}

#product li a:hover{
	color:#900;
	}


#side_pm img{
	margin:0 0 10px 0;
	}


#side_info{
	background:url(../../images/common/side_info_bg.png) no-repeat bottom right;
	height:120px;
	padding:20px 0  0 0 ;
	margin:0 0 20px 0;
	}

#side_info p{
	font-size:12px;
	margin:15px 0 0 0 ;
	}
	
	
#side_inquiry{
	margin:0 0 20px 0;
	}
	

#side_oa{
	background:url(../../images/index/side_info_oa_bg.png) no-repeat top left;
	padding:25px 0 0 50px;
	color:#e61126;
	font-weight:bolder;
	font-size:12px;
	line-height:1.4em;
	}	
	
.vp{
	margin:5px 0 10px;
	}



/*footer*/



#footer_logo{
	float:left;
	}

#footer_menu{
	float:right;
	}

#footer_menu img{
	margin:0 7px;
	}

#copyright{
	float:right;
	font-size:12px;
	font-weight:bolder;
	width:700px;
	text-align:right;
	margin:8px;
	}
	

/*outline*/



.outline_menu{
	background:url(../../images/outline/triangle.png) no-repeat left;
	padding:0 0 0 20px;
	font-weight:bold;
	margin:0 30px 30px 0;
	font-size:16px;
	float:left;
	}

ol#pkz {
	width:1000px;
	margin: 12px auto;
	text-align: right;
}

ol#pkz li {
	display: inline-block;
	margin: 0 0 0 4px;
}

ol#pkz li a {
	background: url(../../images/common/bg_pkz.png) no-repeat right center;
	padding: 0 24px 0 0;
}

#side p.bnrs {
	margin: 0 0 10px;
}