@charset "utf-8";
/* CSS Document */



#title01{
 line-height: 0.1px;
 margin: 0;
 padding: 0;
 font-style: normal;
 font-weight: normal;
 font-size: 1px;
 text-indent: -9999px;
 background:url(../../images/product/chart/title01.png);
 height:78px;
 width:660px;
 margin:0 0 40px 0;
}

#title02{
 line-height: 0.1px;
 margin: 0;
 padding: 0;
 font-style: normal;
 font-weight: normal;
 font-size: 1px;
 text-indent: -9999px;
 background:url(../../images/product/chart/title02.png);
 height:78px;
 width:660px;
 margin:40px 0;
}


#chart_list{
	margin:0 20px;
	}


.list{
	padding:42px 0 0 0;
	margin:0 0 30px 0;
	}

#list_01{
	background: url(../../images/product/chart/list_01_bg.png) no-repeat top left;
	}

#list_02{
	background: url(../../images/product/chart/list_02_bg.png) no-repeat top left;
	}

#list_03{
	background: url(../../images/product/chart/list_03_bg.png) no-repeat top left;
	}

#list_04{
	background: url(../../images/product/chart/list_04_bg.png) no-repeat top left;
	}

#list_05{
	background: url(../../images/product/chart/list_05_bg.png) no-repeat top left;
	}

#list_06{
	background: url(../../images/product/chart/list_06_bg.png) no-repeat top left;
	}

#list_07{
	background: url(../../images/product/chart/list_07_bg.png) no-repeat top left;
	}

