@charset "utf-8";
/* CSS Document */


h3{
	background:url(../../images/product/checkrates/index/title_bg01.png) no-repeat top;
	padding:53px 0 0 30px;
	font-weight:bold;
	height:26px;
	margin:30px 0 20px 0;
	}


#check_01{
	background:url(../../images/product/checkrates/index/img01.png) no-repeat top;
	padding:170px 20px 0 20px;
	margin:0 0 30px 0;
	}

#plus{
	text-align:center;
	font-size:80px;
	font-weight:bolder;
	line-height:0.8em;
	}


#icon_00{
	background: url(../../images/product/checkrates/index/list_bg.png) no-repeat top left;
	padding:55px 0 0 120px;
	font-weight:bolder;
	color:#1c4b9e;
	height:45px;
	line-height:1.4;
	}


#icon_01{
	background:url(../../images/product/risk/icon01_bg.png) no-repeat top left;
	padding:55px 0 0 120px;
	height:45px;
	}

#icon_02{
	background:url(../../images/product/risk/icon02_bg.png) no-repeat top left;
	padding:55px 0 0 120px;
	height:45px;
	}

#icon_03{
	background:url(../../images/product/risk/icon03_bg.png) no-repeat top left;
	padding:55px 0 0 120px;
	height:45px;
	}

#icon_04{
	background:url(../../images/product/risk/icon04_bg.png) no-repeat top left;
	padding:55px 0 0 120px;
	height:45px;
	}

#icon_05{
	background:url(../../images/product/risk/icon05_bg.png) no-repeat top left;
	padding:55px 0 0 120px;
	height:45px;
	}

#icon_06{
	background:url(../../images/product/risk/icon06_bg.png) no-repeat top left;
	padding:55px 0 0 120px;
	height:45px;
	}

#icon_07{
	background:url(../../images/product/risk/icon07_bg.png) no-repeat top left;
	padding:55px 0 0 120px;
	height:45px;
	}

.icon{
	margin:0 0 20px 0;
	}