@charset "utf-8";
/* CSS Document */



#title01{
 margin: 0;
 padding: 0;
 font-style: normal;
 font-weight: normal;
 font-size: 24px;
 background:url(../../images/product/facilities/title01.png);
 height:78px;
 width:616px;
 margin:0 0 40px 0;
 line-height:78px;
 text-shadow:none;
 color:#FFF;
 font-weight: bold;
 padding:0 0 0 44px;
}



.facilities table {
	width: 660px;
}
.facilities th {
	text-align:center;
	color:#6c6659;
	font-weight:bold;
	text-shadow:none;
	border-bottom:26px solid #FFF;
	width:33%;
}
.facilities th span {
	background:#dfd7c5;
	width:200px;
	padding: 4px 0;
	display:block;
	margin:auto;
}
.facilities td {
	border-bottom:11px solid #FFF;
	width:33%;
}
.facilities td img {
	display:block;
	margin:auto;
}

.facilities h4 {
	background: url(../../images/renovation/bg_h3.png) no-repeat left center;
	padding: 7px 0 4px 34px;
	border-bottom: 1px dotted #999;
	font-size: 18px;
	margin: 0 0 18px;
}

.facilities p img {
	display:block;
	margin:0 auto 30px;
}

div#after {
	background: url(../../images/product/facilities/bg_after.png) no-repeat left top;
	padding:102px 0 0 331px;
	width:329px;
	height:55px;
}