@charset "utf-8";
/* CSS Document */


h2#index{
	clear:both;
width: 100%;
height: 319px;
margin: 0 auto;
text-indent: -9999px;
clear: both;
display: block;
background-color: #F1EEE5;}




#index_main{
	width:615px;
	float: left;
	}


#index_side{
	float:right;
	width:360px;
	}

#main_pm{
	background:url(../../images/index/main_pm_bg.jpg) no-repeat right top;
	margin:0 0 30px 0;
	}

#main_pm p{
	font-size:14px;
	width:370px;
	margin:20px 0;
	}

#pm_banner img{
	float: left;
	}

#pm_banner img{
	margin:0 0 15px 0;
	}

#pm_banner img.right{
	margin:0 15px 0 0;
	}

#pm_banner .banner {
	clear: both;
}

#pm_banner .banner + .banner {
	padding-top: 20px;
}

#pm_banner .banner h3 {
	margin-bottom: 15px;
	padding-left: 10px;
	font-size: 17px;
	font-weight: 600;
	border-left: 5px solid #d81618;
}


#product{
	background:url(../../images/index/side_products_bg.png) no-repeat bottom;
	padding:0 0 10px 0;
	margin:0 0 10px 0;
	}

#product li{
	background: url(../../images/common/side_products_triangle.png) no-repeat 10px;
	padding:10px 0 10px 30px;
	border-bottom:#999 dashed 1px;
	font-weight:bolder;
	}

#product li a{
	color:#666;
	}

#product li a:hover{
	color:#900;
	}


#side_info{
	background:url(../../images/common/side_info_bg.png) no-repeat bottom right;
	height:100px;
	padding:20px 0  0 0 ;
	margin:0 0 20px 0;
	}

#side_info p{
	font-size:12px;
	margin:15px 0 0 0 ;
	}


#side_inquiry{
	margin:0 0 20px 0;
	}


#side_oa{
	background:url(../../images/index/side_info_oa_bg.png) no-repeat top left;
	padding:25px 0 0 50px;
	color:#e61126;
	font-weight:bolder;
	font-size:12px;
	line-height:1.4em;
	}

div#topics {
	background:url(../../images/index/bg_topics.png) no-repeat top left;
	padding: 46px 0 0;
	margin: 0 0 36px;
}

#topics div {
	border-right: 1px solid #b2b2b2;
	border-bottom: 1px solid #b2b2b2;
	border-left: 1px solid #b2b2b2;
	padding:12px 25px;
	height: 180px;
	overflow:auto;
	width: 563px;
}
