@charset "utf-8";
/* CSS Document */


#inquiry_list{
	margin:20px;
	}

h3{
	border-left:#d81618 10px solid;
	font-weight:bolder;
	color:#d81618;
	font-size:18px;
	padding:0 0 0 20px;
	margin:20px 0 15px 0;
	}




.from{
	margin:0 0 40px 0;
	width:640px;
	}
	
.from th{
	background:#d81618;
	color:#FFF;
	font-weight:bolder;
	padding:10px 50px 10px 10px;
	border-bottom:3px #FFF solid;
	border-right:3px #FFF solid;
	width:30%;
	white-space:nowrap;
	text-shadow:none;
	}

.from th.necessarily{
	background:url(../../images/inquiry/necessarily.png) right center no-repeat #d81618;
	}
	
.from td{
	background:#f1f1f1;
	border-bottom:3px #FFF solid;
	padding:10px;
	line-height:1.6em;
	}

input.userform{
   height: 1.8em;
   }
  
#button{
	text-align:center;
	}

.error{
	font-weight:bold;
	color:#d81618;
	}