@charset "utf-8";
/* CSS Document */


h3{
 line-height: 0.1px;
 margin: 0;
 padding: 0;
 font-style: normal;
 font-weight: normal;
 font-size: 1px;
 text-indent: -9999px;
 background:url(../../images/outline/message/title.png);
 height:187px;
 width:660px;
 margin:0 0 30px 0;
}




.message:first-letter{
  font-size:22px;
}


.message{
	margin:20px 0 30px 0;
	}

#message_list{
	background: url(../../images/outline/message/list_bg.png) no-repeat top;
	padding:100px 0 0 30px;
	height:195px;
	font-weight:bolder;
	color:#4D2902;
	font-size:15px;
	}

#from_ceo{
	background: url(../../images/outline/message/ceo.jpg) no-repeat top right;
	padding:0 245px 0 0;
	height:304px;
	}