@charset "utf-8";
/* CSS Document */


h3{
 line-height: 0.1px;
 margin: 0;
 padding: 0;
 font-style: normal;
 font-weight: normal;
 font-size: 1px;
 text-indent: -9999px;
 background:url(../../images/outline/index/title.png);
 height:187px;
 width:660px;
 margin:0 0 30px 0;
}



#outline{
	clear:both;
	width:620px;
	margin: 20px;
	}

#outline th,#outline td{
	padding:10px;
	border-bottom:#CCC dashed 1px;
	}

#outline th{
	font-weight:bolder;
	white-space:nowrap;
	font-size:16px;
	}

#map{
	margin:20px;
	}

#map iframe{
	border:#CCC 2px solid;
	}


#map p{
	border-left:#999 3px solid ;
	padding:0 0 0 10px;
	margin:10px 0 0 0;
	}

#images{
	margin:20px 0;
	}

.outline_img{
	padding:5px;
	border:#999 1px solid;
	float:left;
	margin:9px;
	}