@charset "utf-8";
/* CSS Document */


h3{
	text-align: right;
	background:url(../../images/propertymanagement/index/title.png) no-repeat top left;
	font-weight:bolder;
	font-size:23px;
	padding:40px 30px 0 200px;
	height:84px;
	margin:0 0 20px 0;
	}



.text{
	margin:0 0 30px 0;
	}

#text_01{
	background:url(../../images/propertymanagement/index/01_bg.jpg) no-repeat top right;
	padding:0 287px 0 0;
	height:197px;
	}

p#blue{
	border:#039 1px solid;
	margin:0 20px 30px 20px;
	padding:20px;
	color:#039;
	font-weight:bolder;
	font-size:18px;
	background: #E0E0E0;
	}


#text_02{
	background:url(../../images/propertymanagement/index/02_bg.jpg) no-repeat top left;
	padding:0 0 0 215px;
	}


#text_03{
	background: url(../../images/propertymanagement/index/03_bg.png) no-repeat top left;
	padding:0 0 0 175px;
	height:348px;
	}

#text_03 span{
	font-weight:bolder;
	font-size:18px;
	}