@charset "utf-8";
/* CSS Document */



h3{
	text-align: right;
	background:url(../../images/propertymanagement/01/title.png) no-repeat top left;
	font-weight:bolder;
	font-size:23px;
	padding:50px 15px 0 200px;
	height:61px;
	margin:0 0 20px 0;
	}




.text{
	margin:0 0 30px 0;
	}


#text_01{
	background:url(../../images/propertymanagement/01/01_bg.jpg) no-repeat top right;
	padding:0 244px 0 0;
	height:298px;
	}

.text img{
	margin:0 0 20px 0;
	}
	
#text_02{
	background: url(../../images/propertymanagement/01/02_bg.jpg) no-repeat top left;
	padding:0 0 0 306px;
	height:215px;
	}
	


#text_03 p{
	background: url(../../images/propertymanagement/01/03_bg.png) no-repeat left bottom;
	padding:0 0 0 290px;
	}
	
	
#text_04 p{
	background:url(../../images/propertymanagement/01/04_bg.jpg) no-repeat top left;
	padding:0 0 0 285px;
	height:354px;
	}




	
	
	
	
	