@charset "utf-8";
/* CSS Document */


h3{
	text-align: right;
	background:url(../../images/propertymanagement/02/title.png) no-repeat top left;
	font-weight:bolder;
	font-size:23px;
	padding:50px 15px 0 200px;
	height:83px;
	margin:0 0 20px 0;
	}

.text{
	margin:0 0 30px 0;
	}



#text_01{
	background:url(../../images/propertymanagement/02/01_bg.jpg) no-repeat top right;
	padding:0 250px 0 0 ;
	height:173px;
	}


#text_02{
	background:url(../../images/propertymanagement/02/02_bg.jpg) no-repeat top left;
	padding:0 0 0 308px;
	height:383px;
	margin:0 0 30px 0;
	}

#text_02 img{
	margin:0 0 20px 0;
	}

#text_02 span,#text_03 span{
	font-weight:bolder;
	color:#036;
	}

#text_03{
	background:url(../../images/propertymanagement/02/03_bg.png) no-repeat top left;
	padding:0 0 0 298px;
	height:279px;
	margin:0 0 30px 0;
	}