@charset "utf-8";
/* CSS Document */


h3{
	text-align: right;
	background:url(../../images/propertymanagement/03/title.png) no-repeat top left;
	font-weight:bolder;
	font-size:23px;
	padding:40px 15px 0 200px;
	height:54px;
	margin:0 0 20px 0;
	}



#text_01{
	background:url(../../images/propertymanagement/03/01_bg.jpg) no-repeat top right;
	padding:0 291px 0 0;
	height:203px;
	margin:0 0 30px 0 ;
}


#list p#text_02{
	background:url(../../images/propertymanagement/03/02_bg.png) no-repeat right top;
	padding:0 270px 0 0 ;
	}



h5{
	background:url(../../images/propertymanagement/03/subtitle_bg.png) no-repeat top left ;
	font-size:20px;
	font-weight:bolder;
	padding:15px 0 0 20px;
	height:41px;
	margin:0 0 10px 0;
	}


#list p{
	padding:0 50px 0 0;
	margin:20px;
	color:#069;
	}