@charset "utf-8";
/* CSS Document */


h3{
	text-align: right;
	background:url(../../images/propertymanagement/04/title.png) no-repeat top left;
	font-weight:bolder;
	font-size:23px;
	padding:40px 15px 0 200px;
	height:86px;
	margin:0 0 20px 0;
	}


.text{
	margin:0 0 30px 0;
	}
	

#text_01{
	background: url(../../images/propertymanagement/04/01_bg.jpg) no-repeat top right;
	padding:0 283px 0 0;
	height:198px;
	}

#text_02{
	background:url(../../images/propertymanagement/04/01_illust.png) no-repeat top;
	padding:140px 0 0 0;
	}

#text_03{
	background: url(../../images/propertymanagement/04/02_bg.png) no-repeat top left;
	padding:0 0 0 226px;
	}

#text_03 img{
	margin:0 0 20px 0;
	}

#text_04{
	background:url(../../images/propertymanagement/04/03_bg.jpg) no-repeat top right;
	padding:0 322px 0 0;
	height:226px;
	}