@charset "utf-8";
/* CSS Document */


h3{
 line-height: 0.1px;
 margin: 0;
 padding: 0;
 font-style: normal;
 font-weight: normal;
 font-size: 1px;
 text-indent: -9999px;
 background:url(../../images/outline/privacy/title.png);
 height:187px;
 width:660px;
 margin:0 0 30px 0;
}


#privacy_title{
	font-weight:bolder;
	margin:0 0 30px 0;
	}

#privacy_ceo{
	text-align:right;
	margin:0 0 30px 0;
	}


.privacy{
	margin:50px 0 0 0;
	font-weight:bolder;
	}

.privacy_sentence{
	margin:20px 0 0 0;
	}

.privacy_sentence li{
	margin:10px 10px 0 10px;
	}

#privacy_info{
	text-align:right;
	margin:30px  0  0 0 ;
	}