@charset "utf-8";
/* CSS Document */



h3{
 line-height: 0.1px;
 margin: 0;
 padding: 0;
 font-style: normal;
 font-weight: normal;
 font-size: 1px;
 text-indent: -9999px;
 background: url(../../images/product/index/title.png);
 height:45px;
 width:660px;
 margin:0 0 20px 0;
}



#product_01{
	padding:0 0 0 20px;
	margin:0 0 40px 0;
	}


.product_item{
	background:url(../../images/product/index/item_bg.png) no-repeat top;
	float:left;
	width:320px;
	height:148px;
	margin:20px 0;
	}

.product_link{
	background:url(../../images/product/index/triangle.png) no-repeat left;
	padding:0 0 0 20px;
	font-size:16px;
	}

.product_sentence{
	margin:7px 0 0 0;
	font-size:12px;
	line-height:1.2em;
	}

.left{
	margin-right:20px;
	}

.product_box{
	padding:10px;
	}