@charset "utf-8";
/* CSS Document */


h3{
	background:url(../../images/product/checkrates/regularly/title_bg01.png) no-repeat top;
	padding:53px 0 0 30px;
	font-weight:bold;
	height:26px;
	margin:30px 0 20px 0;
	}

#h3_02{
	background:url(../../images/product/checkrates/regularly/title_bg02.png) no-repeat top;
	padding:53px 0 0 30px;
	font-weight:bold;
	height:26px;
	margin:0 0 40px 0;
	}

#h3_03{
	background:url(../../images/product/checkrates/regularly/title_bg03.png) no-repeat top;
	padding:53px 0 0 30px;
	font-weight:bold;
	height:26px;
	margin:0 0 40px 0;
	}

#regularly_01{
	margin:0 0 20px 0;
	}


#regularly_01 img{
	margin:0 0 20px 0;
	}

#regularly_01 p{
	margin:0 0 20px 0;
	}
	

#regularly_02{
	background: url(../../images/product/checkrates/regularly/02_bg.jpg) no-repeat top left;
	padding:0 0 0 323px;
	margin:0 0 40px 0;
	}

#regularly_02 p{
	margin:0 0 20px 0;
	}

#regularly_03{
	background:url(../../images/product/checkrates/regularly/img03.png)  no-repeat top right;
	padding:0 317px  0 0;
	height:300px;
	margin:20px 0 0 0;
	}