@charset "utf-8";
/* CSS Document */

ul#items {
}

#items li {
	width: 235px;
	margin: 0 7px 20px;
	background: #000;
	float: left;
}

#items li strong {
	display: block;
	text-align: center;
	font-weight: bold;
	padding: 20px 0;
}

#items li a {
	color: #FFF;
	text-shadow: none;
	padding: 15px;
	display: block;
	overflow: hidden;
}

div#renovation {
	background: #000 url(../../images/renovation/bg_renovation.png) no-repeat center bottom;
	padding: 0 0 82px;
	margin: 0 0 34px;
}

#renovation td#text {
	text-shadow: none;
	color: #bcbcbc;
	background: #000;
	padding: 55px 11px;
}

#renovation th {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	vertical-align:middle;
	text-shadow: none;
	color: #bcbcbc;
}

#renovation table {
	width: 891px;
	margin: 0 auto;
}

#renovation td {
	background-color: #FFF;
	padding: 11px;
}

#renovation td img {
	display: block;
	margin: auto;
}

#renovation td#center {
	background-color: #000;
}

table#others {
	width: 1000px;
	margin: 0 0 10px;
}

#others td.prime img {
	border: 1px solid #b2b2b2;
	padding: 5px;
	margin: 0 0 5px;
}

#others td.prime {
	width: 353px;
	vertical-align: top;
}

table#others li {
	float: left;
	border: 1px solid #b2b2b2;
	padding: 5px;
	margin: 0 5px 10px;
}

table#others li a {
	display:block;
}

table#others ul.width li {
	margin: 0 4px 10px;
}

table#others ul.none li {
	margin: 0 5px 0;
}

table#others ul {
	text-align: center;
	width: 100%;
}

#others td.none {
	border: none;
	padding: 0;
	vertical-align: top;
}

.reno h3 {
	background: url(../../images/renovation/bg_h3.png) no-repeat left center;
	padding: 7px 0 4px 34px;
	border-bottom: 1px dotted #999;
	font-weight: bold;
	font-size: 18px;
	margin: 0 0 18px;
}