@charset "utf-8";
/* CSS Document */


h3{
	background:url(../../images/product/risk/title_bg01.png) no-repeat top;
	padding:53px 0 0 30px;
	font-weight:bold;
	height:46px;
	margin:30px 0 40px 0;
	}

#risk_01{
	background:url(../../images/product/risk/01_bg.png) no-repeat top left;
	padding:35px 0 0 255px;
	margin:0 0 30px 0;
	}


#icon_01{
	background:url(../../images/product/risk/icon01_bg.png) no-repeat top left;
	padding:55px 0 0 120px;
	height:45px;
	}

#icon_02{
	background:url(../../images/product/risk/icon02_bg.png) no-repeat top left;
	padding:55px 0 0 120px;
	height:45px;
	}

#icon_03{
	background:url(../../images/product/risk/icon03_bg.png) no-repeat top left;
	padding:55px 0 0 120px;
	height:45px;
	}

#icon_04{
	background:url(../../images/product/risk/icon04_bg.png) no-repeat top left;
	padding:55px 0 0 120px;
	height:45px;
	}

#icon_05{
	background:url(../../images/product/risk/icon05_bg.png) no-repeat top left;
	padding:55px 0 0 120px;
	height:45px;
	}

#icon_06{
	background:url(../../images/product/risk/icon06_bg.png) no-repeat top left;
	padding:55px 0 0 120px;
	height:45px;
	}

#icon_07{
	background:url(../../images/product/risk/icon07_bg.png) no-repeat top left;
	padding:55px 0 0 120px;
	height:45px;
	}

.icon{
	margin:0 0 20px 0;
	}


