@charset "utf-8";
/* CSS Document */


h3{
	background: url(../../images/sitemap/contents_bg.png) no-repeat top ;
	padding:10px 0 0 20px;
	font-weight:bold;
	height:47px;
	width:280px;
	color: #CCC;
	text-shadow:none;
	}

.map_box{
	width:300px;
	float:left;
	margin-bottom:20px;
}


.left{
	margin-right:60px;
	}


.sitemap{
	margin:5px 0 0 0;
	width:276px;
	padding:10px;
	border:#CCC 2px solid;
	font-size:12px;
	}

.sitemap a{
	font-size:16px;
	font-weight:bold;
	}