@charset "utf-8";
/* CSS Document */


h3{
	background:url(../../images/product/checkrates/sublease/title_bg01.png) no-repeat top;
	padding:53px 0 0 30px;
	font-weight:bold;
	height:26px;
	margin:30px 0 40px 0;
	}

#h3_02{
	background:url(../../images/product/checkrates/sublease/title_bg02.png) no-repeat top;
	padding:53px 0 0 30px;
	font-weight:bold;
	height:26px;
	margin:20px 0 ;
	}


#sublease_01{
	margin:0 0 30px 0;
	}

#sublease_02 img{
	margin:0 0 20px 0;
	}

#sublease_03{
	background:url(../../images/product/checkrates/sublease/01_bg.jpg) no-repeat top left;
	padding:0 0 0 319px;
	}

#sublease_03 img{
	margin:0 0 20px 0;
	}

#sublease_04{
	margin:0 0 30px 0;
	}


.blue{
	border-left:10px solid #036;
	color:#036;
	font-weight:bolder;
	padding:0 0 0 14px;
	margin:30px 0 0 0;
	}

#caution{
	margin:0 0 20px 0;
	font-size:12px;
	}

#sublease_05{
	background: url(../../images/product/checkrates/sublease/02_bg.jpg) no-repeat top right;
	padding:0 321px 0 0;
	height:225px;
	margin:0 0 30px 0;
	}

#sublease_05 img{
	margin:0 0 20px 0;
	}
