@charset "utf-8";
/* CSS Document */



#title01{
 line-height: 0.1px;
 margin: 0;
 padding: 0;
 font-style: normal;
 font-weight: normal;
 font-size: 1px;
 text-indent: -9999px;
 background:url(../../images/product/system/title01.png);
 height:78px;
 width:660px;
 margin:0 0 40px 0;
}



#system_table{
	width:660px;
	}
	

.border_01{
	border-bottom:#FFF solid 5px;
	}

.border_02{
	border-bottom: #CCC solid 1px;
	}


.system_01,.system_02,.system_03{
	padding:0 10px;
	}

.system_01{
	white-space:nowrap;
	background:#CAE4F9;
	font-weight:bolder;
	font-size:16px;
	color: #0B5BA4;
	}

.system_02{
	white-space:nowrap;
	background:#DBEDFB;
	font-weight:bolder;
	color:#666;
	}

.system_03{
	background: #F3F3F3;
	padding:5px 10px;
	color: #666;
	}