@charset "utf-8";

/* reset */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, 
fieldset,textarea, p, blockquote, th, td a{
	margin: 0; 
	padding: 0;
	font-size: 14px;
	line-height: 1.5;
	color: #646464;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}

a {
	color: #3b3b3b;
}

a:hover {
	color: #3b3b3b;
}

html{
	overflow-y: scroll;
}

img {
	border: none;
	vertical-align: top;
}

ul{
	list-style:none;
}

fieldset, img{
	 border: none;
	 vertical-align: top;
}

table{
	border-collapse: collapse; 
	border-spacing: 0;
}

caption, th{
	text-align: left;
}

address, caption, cite, code, dfn, em, var{
	font-style: normal; 
	font-weight: normal;
}

input,textarea {	
	padding: 6px 6px 2px;
}

/*common*/

div.content {
	width: 960px;
	margin: 0 auto;
}

img.center {
	display: block;
	margin: 0 auto 25px;
}

div#tas {
	background:url(../../images/cmn/bg_tas.png) no-repeat top left;
	padding: 86px 0 4px 527px;
	clear: both;
}

/*kiso*/

h1 {
	background: url(../../images/cmn/bg_h1.png) repeat-x top left;
	width: 100%;
	color: #FFFFFF;
	height: 22px;
	overflow: hidden;
}

h1 span {
	width: 960px;
	margin: 0 auto;
	text-align: right;
	display: block;
}

div#header {
	/zoom : 1;
}

div#header:after {
	content : '';
	display : block;
	clear : both;
}

div#nav {
	background: url(../../images/cmn/bg_nav.png) repeat-x top left;
	height: 45px;
	width: 100%;
}

#nav ul {
	width: 960px;
	margin: 0 auto;
}

#nav li {
	float: right;
}

div#logo {
	width: 960px;
	margin: 0 auto;
}

#logo a {
	position: relative;
	bottom: 70px;
}

div#main {
	width: 100%;
	background: url(../../images/cmn/bg_main.png) repeat-x 171px left;
	padding: 0 0 25px;
	margin: -103px 0 0;
}

div#main {
	/zoom : 1;
}

div#main:after {
	content : '';
	display : block;
	clear : both;
}

div#footer {
	background:url(../../images/cmn/bg_footer.png) #1d1f1f repeat-x top left;
	padding: 18px 0 10px;
	clear: both;
}

#footer ul {
	margin: 0 5px 0 0;
	float: left;
}

#footer li {
	float: left;
}

#footer p {
	float: left;
	color: #FFF;
}

#footer p#tohto {
	clear: both;
	float: none;
	line-height: 43px;
	margin: 0 0 5px;
	height: 43px;
	overflow: hidden;
}

#tohto img{
	margin: 0 7px 0;
	
}

img#copy {
	display: block;
	margin: 0 auto;
	text-align: center;
	clear: both;
}

#index div#top {
	background: url(../../images/index/bg_main.jpg) repeat-x top center;
	margin: -103px 0 0;
}

#index #main {
	margin: 0;
	background-position: top;
}

#index #top .content {
	background: url(../../images/index/bg_content.jpg) no-repeat top center;
	padding: 372px 0 0;
	width: 1160px;
}

#index #top img{
	margin: 0 0 39px 112px;
}

#index div#photo {
	text-align:center;
	padding: 44px 0 0;
}

#index #photo img{
	display: inline-block;
	float: left;
}

#index #photo img#pic_02{
	margin: 0 13px 0 24px;
}

#index #photo img#pic_03{
	margin: 0 24px 0 13px;
}

#index div#outline {
	background: url(../../images/index/bg_outline.png) no-repeat top left;
	padding: 51px 0 0;
	width: 385px;
	float: right;
	margin: 44px 0 0;
}

#index #outline table,#room #main #outline table {
	width: 385px;
}

#index #outline th {
	text-align: center;
	padding: 3px 2px;
}

#index #outline td {
	padding: 3px 2px;
}

#index #outline td span {
	background: #FFF;
	display: block;
	padding: 3px 5px;
}

#index #outline th span {
	background: #393433;
	color: #FFFFFF;
	display: block;
	padding: 3px 5px;
}

#index div#type {
	float: left;
	width: 560px;
	margin: 44px 0 0 0px;
}

#index #type img {
	float: left;
	margin: 0 30px 25px 0;
}

#index #type img.part {
	margin: 0 0 25px 0;
}

#access h2{
	background: url(../../images/access/h2.jpg) repeat-x top center;
	width: 100%;
	margin: 0 0 30px;
}

#access h3 {
	margin: 0 0 25px;
}

#access iframe {
	width: 780px;
	height: 585px;
	margin: 0 auto 25px;
	display: block;
}

#access table {
	width: 960px;
	margin: 0 0 25px;
}

#access table td {
	font-weight: bold;
	border-right: 60px solid #FFF;
	padding: 0;
	white-space: nowrap;
}

#access table td img {
	margin: 0 0 10px;
}

#access table td.end {	
	border-right: none;
}

/*room*/

#room #select {
	background: url(../../images/room/bg_link.jpg) no-repeat left top;
	padding: 0 0 0 336px;
}

#room #select img{
	margin: 0 0 15px;
}

#room h2{
	background: url(../../images/room/h2.jpg) repeat-x top center;
	width: 100%;
	margin: 0 0 30px;
}

#room h3 {
	margin: 0 0 25px;
	clear: both;
}

#room #main table {
	width: 960px;
	margin: 0 0 25px;
}

#room #main th {
	background: #231916;
	color: #FFF;
	padding: 5px 15px;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	text-align: center;
}

#room #main td {
	background: #d6d7d7;
	padding: 5px 15px;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	text-align: center;
	font-weight: bold;
}

#room div#setsubi {
	width: 480px;
	float: left;
	margin: 0 0 25px 0;
}

#room #setsubi table {
	width: 480px;
}

#room #setsubi td {
	background: #FFF url(../../images/room/bg_td.png) no-repeat center left;
	border: none;
	text-align: left;
	white-space: nowrap;
}

#room #main .end {
	border-right: none;
}

#room div#mdr {
	float: left;
	margin: 0 0 25px;
	width: 500px;
}

#room #mdr img {
	margin: 0 auto 25px;
	display: block;
}

#room div#naka {
	float: right;
	margin: 0 0 25px;
	width: 420px;
}

#room div#naka img.odd {
	margin: 0 20px 25px 0;
}

#room div#naka img {
	margin: 0 0 25px;
	float: left;
}

#room #main div#outline {
	width: 420px;
	float: right;
	margin: 0 0 25px 0;
}

#room #main #outline table {
	width: 420px;
}

#room #main #outline table td {
	text-align: left;
}

#inquiry #main table {
	width: 570px;
	margin: 30px auto 0;
}

#inquiry #main th {
	background: #231916;
	color: #FFF;
	padding: 5px 15px;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	text-align: left;
	width: 10em;
}

#inquiry #main th img {
	margin: 3px 0 0;
}

#inquiry #main td {
	background: #d6d7d7;
	padding: 5px 15px;
	border-bottom: 1px solid #FFF;
	font-weight: bold;
}