div.clear {
   clear: both;

}

.box0 {
	float: left;
	width: 600px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
	
.box1 {
	width: 600px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 15px;

}

.box2 {
	margin: 0px 0px 5px 13px;
	padding: 0px 0px 0px 0px;
}

.nagare {
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.box2-1 {
	font-size: 12px;
	color: #000000;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
}


.box3 {
	width: 600px;
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.midasibox {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.hyoubox {
	width: 600;
	border: 1px solid #808080;
	border-collapse: collapse;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 15px;
}

.hidari1 {
	width: 150;
	border: 1px solid #808080;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 10px 10px;
	background-color: #FFECD0;
}

.hidari1-1 {
	width: 150;
	border: 1px solid #808080;
	margin: 0px 0px 0px 0px;
	padding: 40px 0px 40px 10px;
	background-color: #FFECD0;
}

.box5-2 {
	border: 1px solid #808080;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 15px;
}

.box5-3 {
	border: 1px solid #808080;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 15px;
}

.box5-4 {
	width: 150;
	border: 1px solid #808080;
	margin: 0px 0px 0px 0px;
	padding: 18px 0px 18px 15px;
	background-color: #FFECD0;
}

.box5-5 {
	border: 1px solid #808080;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 10px 15px;
}

.box5-6 {
	width: 150;
	border: 1px solid #808080;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 15px;
	background-color: #FFECD0;
	font-size: 12px;
}

.box5-7 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 12px;
}

.box5-8 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 12px;
}

.kasen1 {
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 5px;
	border-bottom: 1px dotted;
	font-size: 12px;
}

.kasen2h {
	width: 422px;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
	border-bottom: 1px dotted;
	font-size: 12px;
}

.kasen3h {
	width: 422px;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
	font-size: 12px;
}

.box6 {
	font-size: 12px;
	width: 150px;
	margin: 0px 0px 0px 0px;
	padding: 1px 0px 2px 0px;
}

.box7 {
	font-size: 15px;
	width: 100px;
	padding: 0px 0px 0px 0px;
}
.box7-1 {
	font-size: 15px;
	width: 100px;
	padding: 5px 0px 5px 0px;
}
.box7-2 {
	font-size: 15px;
	width: 100px;
	padding: 60px 0px 80px 0px;
}

.tiiki {
	width: 600px;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	border: 1px solid #808080;
	background-color: #ffffff;
}

.tiiki1 {
	width: 610px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #ffffff;
}

.tiiki2 {
	width: 600px;
	margin: 3px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	border: 1px solid #808080;
	background-color: #ffffff;
}

.ensenbox {
	width: 600px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #FFECD0;
}

.ensen {
	width: 70px;
	margin: 0px 0px 0px 0px;
	padding: 4px 0px 4px 0p;
	font-size: 12px;
	color: #000000;
}

.ensen1 {
	width: 80px;
	margin: 0px 0px 0px 0px;
	padding: 4px 0px 4px 0p;
	font-size: 12px;
	color: #000000;
}

.box14 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0p;
}

.box15 {
	width: 600px;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 10px;
	background-color: #fffacd;
}

.sonotatiiki {
	width: 600px;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
	background-color: #FFECD0;
}

.button {
	mrgin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-weight: bold;
	color: #ffffff;
}

.text1 {
	font-size: 12px;
	color: #000000;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.komidasi {
	font-size: 12px;
	color: #000000;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
}



.text3 {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	margin: 0px 0px 0px 0px;
	padding: 6px 0px 6px 10px;

}

.text3_1 {
	font-size: 12px;
	color: #000000;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}




.yajirusi {
	width: 44px;
	height: 65px;
	margin: 0px 0px 0px 0px;
	padding: 10px 278px 0px 278px;
}

.botan {
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 0px 240px;
}
	
