
/*--------------------------------------------------------------------------------*/
/* begin common */

/* wrapper settings */
.wrapper{
	width:960px;
	margin: 0 auto;
}

html, body{
    margin: 0;
    padding: 0;
}

/* font settings */
body, textarea {
	font-family:  "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}
input, select {
	font-family:  "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}

/* background settings */
#background{
	background-image: url(../common/img/back_toptt.gif);
	background-repeat: repeat-x;
	margin:0px;
}



/* default image tag settings */
img{
	border:none;
}
iframe{
	border:none;
}
strong{
	color:#FF0000;
}


/* common class settings */
.text_enlarge_image{
	text-align:center;
}
.explanation{
	margin:8px 0;
}
.stripe_even{
	background-color:#EEEEEE;
}

.pan{
	font-size: 12px;
	margin: 8px 8px 12px;
}
.center{
	margin:0 auto;
	text-align:center;
}


/* float */
.float_left{
	float:left;
}
.float_none{
	float:none;
}
.clear_both{
	clear:both;
}

.text_align_left{
	text-align:left;
}
.smaller{
	font-size:smaller;
}
.larger{
	font-size:larger;
}

.textgre {
	color: #979F92;
	font-weight: normal;
}

.textnormal {
	font-size: 14px;
	color: #000000;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

input[type=text] {
    width: 200px;
    height: 30px;
    vertical-align: middle;
}

input[type=email] {
    width: 200px;
    height: 30px;
    vertical-align: middle;
}

input[type=tel] {
    width: 200px;
    height: 30px;
    vertical-align: middle;
}

select {
    height: 30px;
    resize: none;
}

.eria {
    width: 500px;
    height: 50px;
    resize: none;
}

.eria1 {
    width: 400px;
    height: 30px;
    resize: none;
}

.eria2 {
    width: 200px;
    height: 30px;
    resize: none;
}

.stitle {
   color: fff;
   font-size: 18px;
   font-weight: bold;
}

/*--------------------------------------------------------------------------------*/
/* begin header */

/* header_links */
#header .header_links{
	font-size:12px;
	/*line-height:2.0;*/
}

/*  */
#header .logo{
	float:left;
	margin-right:17px;
}

/*  */
#header .global_navi{
	float:right;

	height:66px;	
	background-image: url('../common/img/menu_shadow.gif');
	background-position: left bottom;
	background-repeat: no-repeat;
}

#header .global_navi ul{
	list-style-type: none;

}

#header .global_navi li{

	float: left;
}

#header h1 {
	font-size: 14px;
	color: #463A2A;
	margin: 3px 0px 0px 0px;
	font-weight: normal;
}

#header h1 a {
	text-decoration: none;
	color: #463A2A;
}
#header h1 a:hover{
	color: #888888;
}
#header h1 a:visited, {
	text-decoration: none;
	color: #090909;
}

#header p {
	font-size: 12px;
	color: #000000;
	margin: 2px 0px 7px 0px;
}

.stafftitle {
	font-size: 16px;
	font-weight: bold;
	color: #ec6089;
	margin: 10px 0px 20px 10px;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
.stafftitle2 {
	font-size: 16px;
	font-weight: bold;
	color: #888;
	margin: 10px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
	text-align: center;
}

hr.style-one {
    border: 0;
    width: 860px;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}

/* end header */

/* foot */

.foot011 {
	max-height: 100%;
	margin: 30px 0px 0px 0px;
	padding: 5px 0px 0px 0px;
	font-size: 11px;
	text-align: center;
	line-height: 150%;
	border-top: 0px solid #cc3300;
}

.foot011 a{
	text-decoration: none;
	color: #666666;
}

.foot011 a:hover{
	text-decoration: underline;
	color: #999999;
}

.foot02 {
	margin: 15px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #ccc;
	font-size: 10px;
	text-align: center;
	line-height: 150%;
}

.foot02 a {
	text-decoration: none;
	color: #ffffff;
}

.copy01 {
	margin: 0px 0px 0px 0px;
	padding: 15px 0px 0px 0px;
	font-size: 10px;
	color: #ffffff;
	background-color: #ccc;
	text-align: center;
}

.copy01 a {
	text-decoration: none;
	text-align: center;
	color: #ffffff;
}
/* e foot */

.hoge {
       background: #C94524;
	background-image: -moz-linear-gradient(top,#F16E50 0%,#C94524);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F16E50), to(#C94524));
	border: 2px solid #fff;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 1px 1px 1px rgba(000,000,000,0.3);
	-webkit-box-shadow: 1px 1px 1px rgba(000,000,000,0.3);
	text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	width: 320px;
	padding: 10px 0;
}


.column { 
    width: 940px;
    height: 80px;
	font-size:12px;
	line-height:150%;
    overflow: auto;
    background: #FFFFFF;
    border: 1px solid #999999;
    margin: 0px 0px 0px 10px;
    padding: 5px;
}


/* 吹き出しタイトル */

h2 {
        width: 750px;
	position: relative;
	padding: .5em .75em;
	margin-left: 75px; 
	background-color: #fff;
	border: 1px solid #ec6089;
	border-radius: 6px;
	color: #ec6089;
	
}
h2::before,
h2::after {
	position: absolute;
	top: 100%;
	left: 30px;
	content: '';
	height: 0;
	width: 0;
	border: 10px solid transparent;
}
h2::before {
	border-top: 15px solid #ec6089;
}
h2::after {
	margin-top: -2px;
	border-top: 15px solid #fff;
}

/*パン屑s*/
ol li{
  display: inline;
}

.breadcrumb {
	margin: 5px 0px 0px 0px;
	padding-left:18px;
  list-style-type: none;
  font-size: 12px;
}